@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sen:wght@400;700&display=swap');
html, body { 
  margin: 0; 
  padding: 0;
  font-family: 'Sen', sans-serif;
}
canvas {display: block;}
